.itensList {
  min-height: 300px;
  margin-bottom: 2rem;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.itensList li {
  display: flex;
  gap: 1rem;
}

.itensList li p {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
}

@media (max-width: 804px) {
  .itensList {
    min-height: 165px;
  }
}
