.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
}

.itensList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 220px;
  min-height: 300px;
  box-shadow: 2px 2px 4px 0 #d7acff;
  border: 1px solid #ddd;
  padding: 0.5rem;
  background: #eee;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card button {
  display: block;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--secondary-color);
  border-radius: 50%;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
}

.card button:hover {
  background: var(--secondary-color-hover);
}

.card button::after {
  content: "";
  width: 24px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 22px;
  left: 12px;
  border-radius: 4px;
}

.card button::before {
  content: "";
  width: 4px;
  height: 24px;
  background: #fff;
  position: absolute;
  left: 22px;
  top: 12px;
  border-radius: 4px;
}

.total {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}

.end {
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 8px;
  background: #fff;
  border: none;
  border: 1px solid #555;
  box-shadow: 2px 2px 0 2px #bbb;
  cursor: pointer;
}

.error {
  color: var(--color-error);
  font-weight: bold;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 1rem;
}
