.itensList {
  min-height: 416px;
  margin-bottom: 2rem;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.itensList li {
  display: flex;
  gap: 1rem;
}

.itensList li p {
  font-size: 1rem;
  border: 1px solid #000;
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
}
