.container {
  display: flex;
  gap: 0.5rem;
  margin: 0 1rem;
}

.container li {
  flex: 1;
  border: 1px solid #662d91;
  text-align: center;
  padding: 0.5rem;
  background: #662d91;
  color: #fff;
}

.container .active {
  color: green;
}
