.footerBG {
  background: var(--primary-color);
}

.footer {
  height: 10vh;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
