.headerBG {
  background: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  height: 10vh;
}

.header h1 {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #fff;
}

.nav a.active {
  color: var(--secondary-color-hover);
}
