.headerBG {
  background: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  height: 10vh;
}

.header h1 {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #fff;
  position: relative;
}

.nav a:hover:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  animation: hov 1s forwards;
}

.nav a.active:hover:after {
  background: var(--secondary-color-hover);
}

@keyframes hov {
  from {
    width: 0;
  }
  to {
    width: 40;
  }
}

.nav a.active {
  color: var(--secondary-color-hover);
}

.nav a.active:hover:after {
  opacity: 0;
}
