.home {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 2.2fr 0.8fr;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.firstBox {
  border: 1px solid #662d91;
}

.firstBoxTitle {
  color: #333;
  text-align: center;
  margin: 1rem;
}

.secondBox {
  border: 1px solid #662d91;
  padding: 1rem;
}

.secondBoxTitle {
  margin-bottom: 1rem;
}

.secondBoxSubtitle {
  margin-bottom: 0.5rem;
  text-align: center;
}

.secondBoxTotal {
  font-size: 2rem;
  text-align: center;
}

.secondBoxBtn {
  display: block;
  font-size: 1.5rem;
  margin: 2rem auto 0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: #662d91;
  color: #fff;
}
