.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 220px;
  min-height: 300px;
  box-shadow: 2px 2px 4px 0 #d7acff;
  border: 1px solid #ddd;
  padding: 0.5rem;
  background: #eee;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteEdit {
  display: flex;
  gap: 0.8rem;
}

.edit {
  background: url("../../../Assets/edit+1.png") no-repeat center;
  border: none;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.edit:hover {
  transform: scale(1.125);
  transition: 400ms;
}

.delete {
  background: url("../../../Assets/trash-bin.png") no-repeat center;
  border: none;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.delete:hover {
  transform: scale(1.125);
  transition: 400ms;
}

.increment {
  min-height: 150px;
}

.total {
  align-self: center;
}

.totalText {
  display: block;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 740px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 170px;
    min-height: 300px;
    box-shadow: 2px 2px 4px 0 #d7acff;
    border: 1px solid #ddd;
    padding: 0.5rem;
    background: #eee;
    border-radius: 8px;
  }
}
