:root {
  --primary-color: #56297f;
  --secondary-color: rgb(2, 129, 2);
  --secondary-color-hover: rgb(23, 199, 23);
  --color-error: rgb(255, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fff;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
